h1 {
    background: red;
    }

.p1 {
    background: grey;
    font-size: 32pt;
    color: green;
}
.p2 {
    border: 10px solid yellow;
    border-radius: 5px;
    font-size: 24pt;
    color: green;
    margin-bottom: 60px;
    padding-left: 50px
}
.p3 {
    font-weight: 90;
    font-size: 20pt;
    font-family: Times New Roman;
}

.p4 {
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 1em green; 
    color: white; /* Белый цвет текста */
    font-size: 24px;
    font-family: Times New Roman;
}


'margin - внешний отступ'
'padding - внутренний отступ'
'left - внутренний отступ'
